# ignore venv 
/venv 

# ignore notes 
/notes.txt

# ignore DStore
/.DS_Store
/src/.DS_Store
/src/buyablemain/.DS_Store
/src/buyablemain/static/.DS_Store

# ignore SQLite
/src/buyablemain/db.sqlite3

# ignore core pycache 
/src/buyablemain/core/__pycache__

# ignore buyablemain pycache
/src/buyablemain/buyablemain/__pycache__

# ignore core migrations pycache 
/src/buyablemain/core/migrations/__pycache__

# ignore product pycache and its migrations pycache 
/src/buyablemain/product/__pycache__
/src/buyablemain/product/migrations/__pycache__